.col-md-3{
    border: solid black;
    background-color: rgb(204, 253, 234);
    
}
.col-md-9{
    border: solid black;
}

#imperfil{
    margin-top: 20px;
    margin-left: 35%;
    height: 400px;
    width: auto;
    border: solid black;
}
#nombre{
    margin-top: 20px;
}
.textCol3{
    margin-left: 15%;  
}
.contenedor-iconos{
    margin-top: 20px;
    margin-right: 50px;
    font-size: 21px;

}
h2{
    margin-top: 50px;
}
h3{
    font-size: 30px;
}
hr{
    border: solid;
    background-color:black;
    height: 10px;
}
p{
    font-size: 20px;
}
.divicion{
    border: solid;
    background-color:black;
    height: 3px;
}
label{
    font-size: 20px;
}
